* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main_container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    box-sizing: border-box;
    --border: 1px solid black;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.formato{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.acciones{
    width: 100%;
    height: 14vh;
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.format_buttons{
    display: flex;
    gap: 18px;
    padding-left: 20px;
}

.save_button{
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(to left, #009966, #00bb7c);
    box-shadow: 0 2px 10px #00bb7c;
    
}

#format_button_icon_save{
    color: white;
}

.format_button_label_save{
    color: white;
}

.action_button{
    display: flex;
    height: 40px;
    gap: 10px;
    padding: 10px;  
    color: black;  
    font-weight: 500;
    border: 1px solid rgb(177, 177, 177);  
    border-radius: 8px;

}

.action_button:nth-child(2){
    width: 165px;
}

#format_button_icon{
    
}


.progress_indicator_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    --border: 1px solid;
    margin-top: 20px;
    align-items: center;
}

.labels_progress_indicator{
    display: flex;
    justify-content: space-between;
    --border: 1px solid black;
    width: 56%;
    font-size: 13px;
}

.graph{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 38px;
}


.row_indicator{
    --background-color: #009966;
    width: 100%;
    margin-top: 13px;
    height: 20px;
    margin-bottom: 15px;
    display: flex;
}

.line1{
    width: 50%;
    border-bottom: 5px solid #009966;
    margin-bottom: 12px;
}

.line2{
    width: 50%;
    border-bottom: 5px solid #c4c4c4;
    margin-bottom: 12px;
}

.line3{
     width: 50%;
    border-bottom: 5px solid #c4c4c4;
    margin-bottom: 12px;
}

.line4{
     width: 50%;
    border-bottom: 5px solid #c4c4c4;
    margin-bottom: 12px;
}

.step {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.ball{
    background-color: #009966;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 12px;
    font-weight: 500;
}


.graph div:nth-child(3) .ball{
    background-color: #c4c4c4;
}

.graph div:nth-child(5) .ball{
    background-color: #c4c4c4;
}
