* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main_container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    box-sizing: border-box;
    --border: 1px solid black;
}

.formato{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid green;
}

.acciones{
    width: 100%;
    height: 10vh;
    border: 1px solid black;
}

.encabezado_balance{

}