.title_flujo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    --background: linear-gradient(to left, #009966, #00bb7c);
    --border-radius: 20px;
}

.flujo_container{
    --border: 1px solid black;
    width: 100%;
    border-radius: 20px;
}

.flujo_container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
}

.flujo_tabla {
    margin-top: 10px;
    width: 100%;
    --border: 1px solid rgb(0, 38, 255);
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.301)
}


.flujo tr{
    width: 100%;
}

.title_flujo p{
    color: white;
}



.flujo_divider{
    background: linear-gradient(to left, #009966, #00bb7c);
    --border: 1px solid black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.flujo_divider p{
    color: white;
}

.utilidad_ejercicio_header{
    background: linear-gradient(to left, #00996646, #00bb7d42);
    padding: 10px;
}

.header_title td{
    background: linear-gradient(to left, #009966, #00bb7c);
     border-top-left-radius: 20px !important;
     border-top-right-radius: 20px !important;
}

.utilidad_ejercicio_view{
    --border: 1px solid black;
}

.generar_flujo_button{
 background: #00c482;
    padding: 12px;
    color: white;
    border-radius: 10px;
    width: 190px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    --border: 1px solid #01663e;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.301)
}

.total_activo_circulante_flujo{
    background-color: #00bb7d13;
}

.resultado_flujo{
    background-color:#00bb7d2a;
   
}

.button_container_actualiza_flujo{
    display: flex;
    justify-content: flex-end;

    background: linear-gradient(to left, #009966, #00bb7c);
    
}