*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.sesion_container{
   
    display: flex;
    flex-direction: column;
    align-items: center;

   height: auto;
    width: 35%;
    border: 1px solid #e5e5e5;
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    --box-shadow: 0 0 10px rgb(0 0 0 / 10%);

  
    
    border-radius: 10px;
}

.sesion_container{
    box-shadow: 5px 10px 10px rgba(3, 233, 15, 0.4), -5px -5px 10px rgba(46, 250, 6, 0.4);
   
}

.logo{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    padding: 10px;
    --border: 1px solid black;
    margin: 20px;
    margin-bottom: 10px;
}

.cambio_inicio{
    display: flex;

    align-items: center;
    width: 95%;
    height: 40px;
    margin: 10px;
    background-color: #e5e7eb;

    border-radius: 35px;
}

.inicia{


    width: 50%;
    height: 32px;

    background-color: white;

    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
}

.crea{
    width: 50%;
    height: 32px;

    background-color: #e5e7eb;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    
    border-radius: 40px;
}

.sesion_container h2{
    font-weight: 600;
    margin: 15px;
}

.sesion_container h3{
    font-weight: 300;
    font-size: medium;
    padding-bottom: 30px;
}

.formularios{
    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    --border: 1px solid black;
    padding: 0;
}

.form_inicio{
    display: block;
    position: absolute;
    --border: 1px solid black;
    width: 95%;
    z-index: 1;
    top: 0px;
}


.form_crear{
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 95%;
    
}

.form_inicio p{
    margin-bottom: 5px;
    margin-top: 20px;

    font-size: 15px;
}

.form_crear p{
    margin-bottom: 5px;
    margin-top: 20px;
   
    font-size: 15px;
}


.input_inicio{
    width: 95%;
    height: 23px;
    border-radius: 7px;
    outline: none;
    border: 0;
    border: 1px solid #e5e5e5;
    padding: 7px;
    padding-left: 15px;
    
}



.submit_button{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    font-size: medium;
    border-radius: 7px;
    color: white;
    border: 0;
    background-color:#10b981 ;
}