*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

p{
    color: #3f3f3f;
}

header{
    width: 100%;
    height: 70px;
    
    display: flex;
  
    justify-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    

}

header h2 {
    font-weight: 100;
    display: flex;
    align-items: center;
    
}

.title{
    display: flex;
    
}

.menu_icon{
    width: 20px;
    height: 20px;
    margin: 25px;
}
.logo{
    display: flex;
    align-self: center;
    width: 60px;
    height: 60px;
}

.busqueda{
    
    display: flex;
    align-self: center;
    padding: 20px;
    margin-right: 120px;
    width: 600px ;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #e5e5e5;


}

#browse{
    position: relative;
    
    
    top: 24px;
    z-index: 1;
    width: 100px;
    height: 32px;
    margin-right: 300px;
}

.user_icon{
    display: flex;
    align-self: center;
    width: 25px;
    height: 25px;
    background-color: #d0fae5;
    border-radius: 50%;
    padding: 0;
    margin-right: 50px;
    
}

.description{
    display: flex;
    justify-content: space-between;
}







.categorias{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #e5e5e5;
}

.contenedor{
    background-color: #e5e5e5;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 180px;
    height: 150px;
}

.contenedor:nth-child(1){
    background-color: #fbfbfb;
}

.icono_categoria {
    --border: 1px solid black ;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
}

.area_nombre{
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 200px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: #bdbdbd;
    border: 1px;
}


.archivos_recientes{
    width: 100%;
    

    padding: 0;
    margin: 0;

    display: flex;
   
    justify-content: center;
    --border: 1px solid black;
}

.icon_container{
    background-color: #f5f5f5;
    border-radius: 50%;
    margin: 50px;
}

#icon_archivos{
    display: flex;
    align-self: center;
    text-align: center;
    padding: 40px;
    font-size: 55px;

    color: #bdbdbd;
    
   
   
}




html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* oculta el scroll horizontal */
}
