*{
    font-family: "Montserrat", sans-serif;
}

.balance_modal {
   position: relative;  
    background: linear-gradient(to right bottom,#ffffff, #ecfdf5);      
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: content-box;
    width: 35%;
    height: 390px;
    border: none;
    border-radius: 12px;
    padding: 25px;
    overflow: hidden;
}




.modal_input{
    width: 100%;
    padding: 9px;
    border: .3px solid #b2f3d6;
    outline: none;
    border-radius: 7px;
    margin-bottom: 24px;
    margin-top: 5px;
    background-color: #f3f3f5;
}

.selects{
    display: flex;
    gap: 10px;
}



.selector{
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f5;
    --border: 1px solid black;
    border: 1px solid #b2f3d6;
   width: 100%;
   padding: 9px;
   margin-top: 7px;
   border-radius: 7px;

}


.arrow{
    width: 12px;
    position: relative;
    z-index: 2;
    height: 12px;
    margin-top: 3px;
    transition: transform 0.3s ease;
    mix-blend-mode: multiply;
}



.selector.open .arrow {
  transform: rotate(180deg);
}


.anio_seleccionado{
    font-size: 14px;
    color: rgb(145, 145, 145);
    
}


.lista_anios{
    height: 150px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;
    padding: 2px;
    overflow-y: scroll;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
}

ul{
    background-color: white;
}

.lista_anios li {
    padding: 7px;
    background-color: white;
    cursor: pointer;
}

#lista_anios2 li {
    padding: 7px;
    background-color: white;
}



.lista_anios li:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 7px;
   
}

#lista_anios2 li:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 7px;
   
}


.anios1{
    width: 50%;
    height: 10vh;
    position: relative;
}




.currency_box{
    --border: 1px solid black;
    margin-top: 30px;
}

.selector_currency{
    display: flex;
    justify-content: space-between;
    border: 1px solid #b2f3d6;
    width: 100%;
    border-radius: 7px;
    padding: 9px;
    margin-top: 7px;
    background-color: #f3f3f5;
   
}

.selector_currency p{
    
 font-size: 14px;
    color: rgb(145, 145, 145);
    
    
}

.arrow_select{
    width: 12px;
    height: 12px;
    margin-top: 3px;
    mix-blend-mode: multiply;
}

.buttons_modal{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    --border: 1px solid black;
    margin-top: 3vh;
}

.dismiss_button{ 
    font-weight: 500;
    font-size: 16px;
    color: #095f42de;
    margin: 10px;
    background-color: white;
    border: 1px solid #83eec5 ;
    width: 90px;
    padding: 10px;
    border-radius: 7px;
}

#submit_balance{
    margin: 10px;
    background: linear-gradient(to bottom right, #00bc7e, #00bba4);
    border: none;
    outline: none;
    width: 90px;
    padding: 10px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.lista_currency{
    position: absolute;
    border: 1px solid rgb(219, 219, 219);
    height: 100px;
    width: 90%;
    display: none;
    list-style: none;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 7px;

}

.lista_currency li{
    color: black;
    padding: 7px;
    background-color: white;
    cursor: pointer;
}

.lista_currency li:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 7px;
}